name: CI for tiNi Wifi

on:
  push:
    branches:
      - update
  pull_request:
    branches:
      - update

jobs:
  validate-docker-compose:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Validate docker-compose file
        run: docker compose config

  build-docker-images:
    runs-on: ubuntu-latest
    needs: validate-docker-compose
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Build services with Docker Compose
        run: docker compose build