name: "Run Test"
on:
  pull_request:
  push:
    branches:
    - update
jobs:
  unit-tests:
    name: "ubuntu-latest"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout Code"
        uses: actions/checkout@v4
        run: echo "Checkout Code thành công"
        
    
    
    
